<h1>
  Welcome to {{ title }}!
</h1>


<h3>Currently Playing</h3>

<ul>
  <li>Is Playing ?: <span *ngIf="currentPlaying">Yes</span></li>
  <li>Title: {{ currentPlaying.title }}</li>
  <li>Performer: {{ currentPlaying.artist }}</li>
  <li>Duration : {{ currentTrackDuration | humanTime }}</li>
  <li>Position : {{ currentTrackPostion | humanTime }}</li>
  <li>Progress : {{ currentTrackProgress }}</li>
  <li>Progress : {{ progress }}</li>
</ul>

{{ currentPlaying | json}}

<hr>



<h3>Controls</h3>

<button playAll [songs]="songs">Play all</button>
<button playAll [songs]="songs" [play]="false">Add all</button>
<br>
<button previousTrack>Prev.</button>
<button nextTrack>Next</button>
<button clearPlaylist>Clear Playlist</button>
<br>
<button playMusic>Play</button>
<button pauseMusic>Pause</button>
<button stopMusic>Stop</button>
<button repeatMusic>Repeat</button>

      
<hr>



<h3>Volume</h3>

<h5>Volume: {{ volume }}</h5>

<div class="button-row">
  <button increaseVolume>+</button>
  <button decreaseVolume>-</button>
  <button muteMusic>Mute ({{ mute }})</button>
</div>

<hr>



<h3>Playlist</h3>

<ul>
  <li *ngFor="let song of playlist; index as i;">
    <span playFromPlaylist [song]="song">{{ song.title }}</span>
    <button [musicPlayer]="'play'" [song]="song">play</button>
    <button removeFromPlaylist [song]="song" [index]="i">remove</button>
    <span *ngIf="currentPlaying && currentPlaying.id == song.id"> - (current)</span>
  </li>
</ul>

<hr>



<h3>Catalog</h3>

<div *ngFor="let song of songs" class="songs">

  <span>{{ song.artist }} - {{ song.title }}</span>
  <button [musicPlayer]="'play'" [song]="song">play</button>
  <button musicPlayer [song]="song">+</button>

</div>